@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/azonix');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: pretty;
  border: 0.1rem solid red;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* :::::SCROLL BAR CODE S T A R T S::::: */

::-webkit-scrollbar {
  width: 1.5rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #cececf;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #b9b9ba;
}

/* :::::SCROLL BAR CODE E N D S::::: */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-wrap: balance;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3.3rem;
  font-weight: 500;
  color: #6C757D;
  text-align: center;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  margin: 0rem 0rem 2.4rem;
  color: #1D5D9A;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 0.2rem;
  color: #000000;
  margin: 0rem 0rem 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  color: #000000;
  font-family: 'Azonix', sans-serif;
}

button {
  font-size: 2rem;
  color: #FFFFFF;
  background: linear-gradient(to right, #1d5d9a, #4ca0e0, #1d5d9a);
  padding: 1rem 1rem;
  border-radius: 0.3rem 0.3rem;
  border: none;
}

.paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #6C757D;
  margin: 0rem 0rem 2.4rem;
}

.componentSpacing {
  padding: 2rem 0rem;
}

.screensize1 {
  max-width: 1200px;
  margin: auto;
}

.screensize2 {
  max-width: 1100px;
  margin: auto;
}

.screensize3 {
  max-width: 1000px;
  margin: auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 0rem 3rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.grid-3{
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.dflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dflex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dflex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dflex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* :::PARENT CONTAINER Code Starts here::: */

header {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  height: auto;
}

/* :::PARENT CONTAINER Code Ends here::: */

/* :::HEADER Code Starts hereE::: */
/* Navbar code */

.navBody {
  background: radial-gradient(circle, #3196ca 0%, #1d5d9a 100%);
}

.navBody i{
  font-size: small;
  padding: 0.8rem;
}

.navIcons {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
}

.navinfoBody{
  padding: 1.5rem;
  margin: 0rem 10rem 0rem 10rem;
}

.iconsBox{
  margin-left: 8rem;
}

.emailBox{
  margin-left: 8rem;
}

.emailBox h4 {
  font-size: 1.6rem;
  font-weight: 420;
  color: #ffffff;
  margin: 0rem 0.8rem 0rem 0rem;
}

#iconToggle {
  cursor: pointer;
  display: none;
}

.aboutBox .hamburger {
  font-size: 2.8rem;
  color: #000000a5;
  padding: 0.3rem 1.9rem 0.3rem 1.9rem;
  border-radius: 0.55rem;
  display: none;
}

.aboutBox{
  margin-left: 4rem;
}

.aboutBox ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #000000;
  padding: 0rem 0.8rem;
}

.demoBox button {
  font-size: 1.6rem;
  font-weight: 550;
  color: #FFFFFF;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem 0.3rem;
  border: none;
}

.logoBox img {
  width: auto;
  height: 3rem; 
}

/* Navbar code */

/* Hero Section code */
/* Hero Section code */
/* :::HEADER Code Ends here::: */

/* :::MAIN Code Starts here::: */
/* Smart code */
.smartContainer {
  background-image: url(./assets/images/box_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.smartContainer{
  padding: 4rem 0rem 6rem;
}

.spanBlack{
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.spanBlue{
  font-family: "Poppins", sans-serif;
  color: #2478a2;
}

.smartBox h2{
  line-height: 3rem;
  padding: 0rem 0rem 2rem;
}

.securityBody i {
  font-size: 3.6rem;
  color: #ffffff;
  padding: 0rem 10rem 0rem ;
}

.securityBody p {
  font-size: 1.7rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: 2rem;
  padding: 2rem;
  margin: 0rem 0rem 0.8rem;
}

.securityBody {
  border-radius: 2rem 2rem;
  padding: 4rem 1rem 3rem 2rem;
}

.bg-gradient {
  background-image: linear-gradient(45deg, #3196ca 0%, #1d5d9a 100%);
}

/* Smart code */

/* Products code */

.products{
  padding-top: 3rem;
}

.pictureBox img {
  height: 34rem;
  width: auto;
}

.homeBoxImage {
  width: 9.1rem;
  aspect-ratio: 3/2;
}

.featureBox{
  text-align: left;
}

.doorLockBody{
  border-top: 0.1rem solid rgb(84, 82, 82);
}

/* Products code */

/* DoorLock code */

.doorLockBody{
  padding: 4rem 0rem 6rem;
}

.lockerBox img {
  height: 39rem;
  width: auto;
}

/* DoorLock code */

/* Booking code */
.bg-gradient-radial {
  background: radial-gradient(circle, rgb(49, 150, 202) 0%, rgb(29, 93, 154) 100%) !important;
}

.bookingContainer{
  padding: 4rem;
}

.bookingBox h2 {
  color: #FFFFFF;
}
.bookingBox p{
  font-size: 1.6rem;
  color: #F8F9FA;
  font-weight: 300;
  text-align: center;
}

.productCard {
  background-color: #ffffff;
  border-radius: 1.6rem;
  padding: 0.7rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.homeLockerBox{
  padding-left: 6rem;
}

.homeLockerBox figure img{
  height: 9rem;
  width: auto;
}

.fstImage{
  border: 0.5rem solid #6c757d52;
}

.bookDemoBox figure img{
  width: 100%;
  aspect-ratio: 2.9/3;
}

.liveDemoBox{
  padding: 3rem;
  margin: 0rem 7rem;
  background-color: #FFFFFF;
  border-radius: 1rem;
}

input,
select {
  width: 100%;
  padding: 1rem 17rem;
  margin: 0.7rem 0rem;
  font-size: 1.4rem;
  background-color: #f6f9fc;
  color: #111827;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  font-weight: 500;
}

#message{
  padding-bottom: 9rem;
}

input::selection{
  border-color: #6C757D;
}

/* Booking code */

/* Customer code */
.customerBox{
  padding-bottom: 6rem;
}

.customerBox h2{
  color: #1D5D9A;
  padding-top: 2rem;
}

.customer{
  background-image: url(./assets/images/box_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 0rem 5rem 0rem;
}

.demoBox p{
  font-size: 1.6rem;
  background-color: #FFFFFF;
  padding: 2rem 0rem 5rem 2rem;
  margin: 0rem 0rem 1.6rem;
}

.reviewBox{
  align-items: start;
}

.reviewBox h4{
  font-size: 1.6rem;
  font-weight: 400;
}

.reviewBox figure img{
  height: 5rem;
  width: auto;
}

.reviewBox i{
  color: rgb(248, 187, 32);
}
/* Customer code */
/* :::MAIN Code Ends here::: */

/* :::FOOTER Code Starts here::: */
/* Contact code */

.appstoreBox figure img {
  width: 18.9rem;
  aspect-ratio: 3 / 1;
}

.contactBox h4{
  padding: 1rem 0rem 0rem 8rem;
}

.contactBox i{
  font-size: 2.5rem;
  padding: 1rem;
}

.link li{
  font-size: 1.6rem;
  line-height: 3rem;
}

.product{
  font-weight: 520;
  margin: 0rem 0rem 0.5rem;
}

.border-line figure img{
  border-bottom: 0.2rem solid rgb(194, 193, 193);
}

.copyrightsBox p {
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
}

.image {
  padding-top: 1rem;
}

/* Contact code */
/* :::FOOTER Code Ends here::: */

/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

@media (max-width:576px){
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5 {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 0rem 1rem; */
  }
  .navBody{
    display: none;
  }
  .links {
    flex-direction: column;
    display: none;
    justify-content: left;
    align-items: start;
  }

  #iconToggle:checked~.links {
    display: flex;
  }
  .aboutBox .hamburger {
    display: block;
    position: absolute;
    top: 3rem;
    right: 4rem;
    cursor: pointer;
  }

  .aboutBox li{
    padding-bottom: 1rem;
    align-items: left;
    justify-content: left;
  }
  #iconToggle:checked~.navButton {
    display: none;
  }
  .bg-gradient {
    background-image: linear-gradient(45deg, #3196ca 0%, #1d5d9a 100%);
    padding: 6rem 4rem 5rem 4rem;
    margin: 3rem;
  }
  .securityBody i{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .border{
    border-bottom: 0.3rem solid #FFFFFF;
  }
  .securityBody p{
    font-size: 2rem;
  }
}